@using Candidates.Web.Models.Home
@model HomeViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Candidates</h2>
<button class="btn btn-primary" data-bind='click: add'>Add</button>
<div id="candidates">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Comment</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: candidates">
            <tr>
                <td><input class='form-control' data-bind='value: firstName' /></td>
                <td><input class='form-control' data-bind='value: lastName' /></td>
                <td><input class='form-control' data-bind='value: email' /></td>
                <td><input class='form-control' data-bind='value: comment' /></td>
                <td><input class='form-control' disabled data-bind='value: created' />
                <td style="white-space: nowrap">
                    <button class="btn btn-success" data-bind='click: $root.save'>Save</button>
                    <button class="btn btn-danger" data-bind='click: $root.delete'>Delete</button>
                    @if (Model.NotesFeature.FeatureEnabled)
                    {
                    <!-- ko if: id() != 0 -->
                        <button class="btn btn-default" data-bind='click: $root.openNotes' data-toggle="modal" data-target="#notesModal">Notes</button>
                    <!-- /ko -->
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

@if (Model.NotesFeature.FeatureEnabled)
{
    <div class="modal fade" id="notesModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Notes</h4>
                </div>
                <div class="modal-body">
                    <button class="btn btn-primary" data-bind='click: $root.addNote'>Add note</button>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Note</th>
                                <th>Created</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: notes">
                            <tr>
                                <td><input class='form-control' data-bind='value: notes' /></td>
                                <td><input class='form-control' disabled data-bind='value: created' /></td>
                                <td style="white-space: nowrap">
                                    <button class="btn btn-success" data-bind='click: $root.saveNote'>Save</button>
                                    <button class="btn btn-danger" data-bind='click: $root.deleteNote'>Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
