
@{
    ViewBag.Title = "Index";
}

<h2>Candidates</h2>
<btn class="btn btn-primary" data-bind='click: add'>Add</btn>
<div id="candidates">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Comment</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: candidates">
            <tr>
                <td><input class='form-control' data-bind='value: firstName' /></td>
                <td><input class='form-control' data-bind='value: lastName' /></td>
                <td><input class='form-control' data-bind='value: email' /></td>
                <td><input class='form-control' data-bind='value: comment' /></td>
                <td><input class='form-control' disabled data-bind='value: created' /></td>
                <td><btn class="btn btn-success" data-bind='click: $root.save'>Save</btn></td>
                <td><btn class="btn btn-danger" data-bind='click: $root.delete'>Delete</btn></td>
                <td data-bind='if: id() != 0'><btn class="btn btn-default" data-bind='click: $root.openNotes' data-toggle="modal" data-target="#myModal">Notes</btn></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Notes</h4>
            </div>
            <div class="modal-body">
                <btn class="btn btn-primary" data-bind='click: $root.addNote'>Add note</btn>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Note</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: notes">
                        <tr>
                            <td><input class='form-control' data-bind='value: notes' /></td>
                            <td><input class='form-control' disabled data-bind='value: created' /></td>
                            <td><btn class="btn btn-success" data-bind='click: $root.saveNote'>Save</btn></td>
                            <td><btn class="btn btn-danger" data-bind='click: $root.deleteNote'>Delete</btn></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

