
@{
    ViewBag.Title = "Index";
}
@section scripts{
<script src="~/Scripts/candidates.js"></script>
}
<h2>Candidates</h2>
<btn class="btn btn-primary" data-bind='click: add'>Add</btn>
<div id="candidates">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Comment</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: candidates">
            <tr>
                <td><input class='form-control' data-bind='value: FirstName' /></td>
                <td><input class='form-control' data-bind='value: LastName' /></td>
                <td><input class='form-control' data-bind='value: Email' /></td>
                <td><input class='form-control' data-bind='value: Comment' /></td>
                <td><input class='form-control' disabled data-bind='value: Created' /></td>
                <td><btn class="btn btn-success" data-bind='click: $root.save'>Save</btn></td>
                <td><btn class="btn btn-danger" data-bind='click: $root.delete'>Delete</btn></td>
            </tr>
        </tbody>
    </table>
</div>

